/* Palette Guide:
Tan - #d8caa8
Light Green - #5c832f
Green - #284907
Brown - #382513
Blue-Gray - #363942
*/

main h2 {
  font-size: 3em;
  font-weight: bold;
}

main h4 {
  font-style: italic;
}

main h6 {
  font-weight: bold;
  margin-bottom: 2em;
}

main > p:first-of-type::first-letter {
  font-size: 200%;
  color: #284907;
  }

.snippet {
  background-color: #5c832f;
  border: 2px dotted #284907;
  font-style: Courier;
  color: white;
}

.snippet > h5 {
  font-style: italic;
  font-weight: normal;
}

code {
  font-family: monospace;
}

q {
  color: #284907;
}