/* Palette Guide:
Tan - #d8caa8
Light Green - #5c832f
Green - #284907
Brown - #382513
Blue-Gray - #363942
*/

/* all items */
body {
  background-color: #d8caa8;
  font-family: Helvetica;
  color: #363942;
}

/* nav bar */
nav > ul {
  list-style-type: none;
  border: 2px solid #382513;
  margin: 1em;
  padding: 1em;
}

/* get the nav bar in a horizontal line */
nav > ul > li {
  display: inline;
  margin-left: 2em;
}

/* header */
header {
  border: 2px solid #382513;
  text-align: center;
  margin: 1em;
  padding: 1em;
}

header h1 {
  font-size: 3em;
}

header h4 {
  font-style: italic;
}

/* footer bar */
footer {
  clear: both;
  width: 100%;
  border: 2px solid #382513;
  margin: 1em;
  padding: 1em;
  font-style: italic;
}

/* color of links */
a:link {
  color: #5c832f;
}

a:visited {
  color: #284907;
}

/* 3 main columns */

/* Ruby column*/
#left_column {
  float: left;
  width: 45%;
  border: 2px solid #382513;
  text-align: center;
  margin: 1em;
}

/* JavaScript column*/
#right_column {
  float: right;
  width: 45%;
  border: 2px solid #382513;
  text-align: center;
  margin: 1em;
}

/* Code blocks */
.snippet {
  font-family: monospace;
  background-color: #5c832f;
  border: 2px dotted #284907;
  color: white;
  padding: 1em;
  width: 80%;
  margin: auto;
  text-align: left;
}

.code_output {
  color: yellow;
}

.code_comment {
  color: #382513;
}

#intro {
  width: 60%;
  margin: auto;
}

div li {
  text-align: left
}